<div class="audiolog-view audiolog-theme-{{system.theme}}">
  {{#if imageSrc}}
    <div class="audiolog-image">
      <img src="{{imageSrc}}" alt="" />
    </div>
  {{/if}}

  <div class="audiolog-controls">
    {{#if system.controls.play}}
      <button type="button" data-action="play" {{#unless hasAudio}}disabled{{/unless}}>
        <i class="fa-solid fa-play"></i>
      </button>
    {{/if}}
    {{#if system.controls.pause}}
      <button type="button" data-action="pause" {{#unless hasAudio}}disabled{{/unless}}>
        <i class="fa-solid fa-pause"></i>
      </button>
    {{/if}}
    {{#if system.controls.stop}}
      <button type="button" data-action="stop" {{#unless hasAudio}}disabled{{/unless}}>
        <i class="fa-solid fa-stop"></i>
      </button>
    {{/if}}
  </div>

  {{#if system.transcript}}
    <div class="audiolog-transcript">
      {{!-- Triple-stache is safe: Foundry's HTMLField sanitizes on save --}}
      {{{system.transcript}}}
    </div>
  {{/if}}
</div>
